.blog_page {
    margin-top: 60px;
    padding-top: 40px;
    padding-inline: 15px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: #eee;
}
.blog_page > h1 {
    text-transform: uppercase;
    text-align: center;
}

.blog_page > p {
    text-transform: capitalize;
    text-align: center;
}

.blog_page .container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    width: 100%;
    gap: 15px;
    margin-bottom: 30px;

}

@media (max-width:700px) {
    .blog_page .container {
        grid-template-columns: repeat(auto-fit,minmax(275px,1fr));
    }
    
}